
.container{
    font-family: "Century Gothic";
    width:760px !important;
}

.input-search{
width:680px;
margin-top:40px;
margin-bottom:40px;
position:center;
}


.line-break{
    background-color:#bec1c3;
    height:1px;
    width: 680px;
    position:absolute;
    margin-left:40px;
}

.user-hide{
    display: none;
}

.line-break-space{
    margin-top:12px;
}
.line-break-space-second{
    margin-top:-20px;
    width:520px;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
.offset{
    margin-left:240px;
}
.margin{
    margin-top:20px;
    margin-bottom:20px;
}
.margins{
    margin-left:20px;
}
.margin-full{
    margin-left:27px;
    margin-top:5px;
    margin-bottom:5px;
}
.margins-big{
    margin-left:35px;
}

.margin-data-entry{
    left:40px;
    margin-bottom:10px;
}

.margin-right{
    margin-right:25px;
}
.margin-btns{
    margin-left:10px;
}

.user-photo{
    width:64px;
    height:64px;
    border-radius:50%;
}

.margin-progress-bar{
    margin-left:20px;
    margin-right:20px;
}

.margin-progressbar-top{
    margin-top:75px;
    margin-bottom:40px;
}
.margin-canon-regulament{
    margin-top:130px;
    margin-right:20px;
    margin-bottom:35px;
}
.username-title{
    padding-top:5px;
}

.hand{
    cursor:pointer;
}
.hand{
    cursor:pointer;
}

.glyph{
    padding:10px;
    margin-top:15px;
    border: solid 2px;
    border-radius:20%;
    font-size:22px;
}
.glyph-disabled{
    color:#bbb;
}
.glyph-red{
    border:none;
    color:#f0f1f1;
    background-color:#cc0000;
}

.link-white{
    color:#fff;
}

.link-black{
    color:#000000;
}

.link-size{
    font-size: 15px;
}

.link-margin{
    margin-top:50px;
    margin-bottom:20px;
}

.position-relative{
    position:relative;
}

.title-heading{
    font-family:"Century Gothic";
    margin-top:60px;
    margin-left:35px;
    font-size:45px;
}

.title-main{
    position:absolute;
    font-size: 70px;
    color:#fff;
    width:240px;
    top:163px;
    left:433px;
}

.background-grey{
    background-color:#d0d3d4;
}

.background-red{
    background-color:#cc0000
}

.background-orange{
    background-color:#bbbd11
}

.background-grey-dropdown{
    background-color:#f0f1f1;
}
.color-btn{
    background-color:#4b4f54;
}
.button-launch{
    border:none;
    background-color:#9199a3;
    font-size: 22px;
    margin-top:25px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.btn-default{
    background-color:#4b4f54;
    color:#fff;
}
.input-group-addon{
    background-color:#4b4f54;
    color:#fff;
}
.button-arata-ne{
    position:relative;
    border:none;
    background-color:#cc0000;
    font-size: 14px;
    top:110px;
}
.button-incarca-foto{
    margin-left:300px;

}
.btn-danger{
    background-color:#cc0000;
    font-size: 14px;
}

.bubble{
    top:34px;
    left:0px;
    position:absolute;
}

.title-second{
    margin-top: 35px;
    margin-left: 20px;
    margin-bottom:30px;
}

.text-white{
    color:#fff;
}
.content-second{
    margin-left:25px;
    margin-bottom:30px;
}

.logo{
    position:absolute;
    top:40px;
    left:30px;
}
.logo-white{
    margin-top:30px;
    margin-bottom:15px;
    margin-left:20px;
    padding-bottom: 10px;

}
.prize{
    position:absolute;
    top:60px;
    left:40px;
}

.prize-reminder{
    position:absolute;
    top:40px;
    left:90px;
    width:118px;
    height:108px;
}

.align-center{
    text-align:center;
}

.header-image{
    background-image: url(/img/heading.png);
}

.example-pic{
    width:210px;
    height:140px;
    margin-right:25px;
    margin-bottom:30px;
    margin-top:0px;
}


.example-vid{
    margin-top:20px;
    margin-bottom:100px;
    margin-left:5px;
}

.loading-square{
    background-color: red;
    border-radius:20%;
    height:23px;
    width:23px;
    margin-right:20px;
    margin-top:30px;
    margin-bottom:120px;
    padding-right:0px!important;
}

.loading-square-a1{
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;

    -webkit-animation-delay: 0ms;
    -moz-animation-delay: 0ms;
    -ms-animation-delay: 0ms;
    -o-animation-delay: 0ms;
    animation-delay: 0ms;
}

.loading-square-a2{
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;

    -webkit-animation-delay: 333ms;
    -moz-animation-delay: 333ms;
    -ms-animation-delay: 333ms;
    -o-animation-delay: 333ms;
    animation-delay: 333ms;
}

.loading-square-a3{
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;

    -webkit-animation-delay: 666ms;
    -moz-animation-delay: 666ms;
    -ms-animation-delay: 666ms;
    -o-animation-delay: 666ms;
    animation-delay: 666ms;
}

@-webkit-keyframes color_change {
  from { background-color: #cc0000; }
  to { background-color: #840000; }
}
@-moz-keyframes color_change {
  from { background-color: #cc0000; }
  to { background-color: #840000; }
}
@-ms-keyframes color_change {
  from { background-color: #cc0000; }
  to { background-color: #840000; }
}
@-o-keyframes color_change {
  from { background-color: #cc0000; }
  to { background-color: #840000; }
}
@keyframes color_change {
  from { background-color: #cc0000; }
  to { background-color: #840000; }
}

.squares{
    margin-left:330px;
}

.arrow{
    padding:10px;
    margin-top:120px;
    border: solid 2px;
    border-radius:20%;
    font-size:28px;
}

.arrow-right{
    margin-left:128px;
}

.nuprogress{
    background-color: #4D5753;
}
.nuheight{
    height:7px;
}

.glyph-progress{
    top:-18px;
    z-index:1;
    padding:10px;
    border: solid 2px;
    border-radius:20%;
    font-size:22px;
    position:absolute;
}
.glyph-progress-active{
    background-color:#4D5753;
    color:#d0d3d4;
}

.glyph-progress-inactive{
    background-color:#d0d3d4;
    color:#4D5753;
}

.glyph-space-camera{
    margin-left:220px;
}
.glyph-space-film{
    margin-left:430px;
}
.glyph-space-user{
    margin-left:645px;
}

.nuformcontrol{
    border: solid 2px #2c3e50;
    margin-bottom:60px;
}

.glyph-trash{
    padding:10px;
    border: solid 2px;
    border-radius:20%;
    font-size:22px;
    position:absolute;
    left:80px;
    top:45px;
    border-radius:50%;
}


.trash {
    position:absolute;
    top:0px;
    width:210px;
    height:140px;
    background-color:white;
    opacity:0;

}

.trash:hover {
    opacity:0.6;
}

.moveout {
    position:absolute;
    left: -9999px;
}
